
<div class="topnav">
  <a class="active" style="float:left" href="#home">Z-Mobile</a>

  <a style="float:right" href="#news">Session</a>
  <a style="float:right" href="#about">Shopping Cart</a>
</div>

<header>
  <h4>THIS IS THE HEADER</h4>
  <tbody>

  <% @types.each do |type| %>
    <tr>
      <td><%= type.typeof %></td>
    </tr>
  <% end %>
  </tbody>
</header>




<Main>
  <h4>THIS IS THE MAIN</h4>
  <div class="sidebar" style="width:25%">
    <a href="#" class="w3-bar-item w3-button">Link 1</a>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
  </div>

  <div class="content" style="margin-left:25%">
    <h4>PAGE CONTENTS</h4>
  </div>
</Main>

<footer>
  <p>Company: Orenjikun's Company</p>
  <p>Contact information:</p>
  <p>Callcenter: +5691111111</p>
  <P>Address: 742 Evergreen Terrace, Springfield</P>
</footer>